@import '../../../../core/scss/vars';

.page {
  display: flex;
}

.main {
  display: flex;
  background-color: $black-light-1;
  width: 100%;
  height: 100vh;

  &Wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $black-light-1;
  }

  &Content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: $black-light-2;
    border-radius: 35px 0 0 0;
    height: 100%;
  }
}