@import "../../../scss/vars";

.block {
  &:nth-child(n+2) {
    margin-top: 45px;
  }

  .collection {
    width: 100%;
    display: flex;

    .link {
      margin: 16px 0 auto auto;
    }
  }

  .courses {
    margin-top: 45px;
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-template-columns: repeat(auto-fill, 310px);
    grid-gap: 20px;
  }

}