// Font style
$f-black: 'Gotham-Black', sans-serif;
$f-bold: 'Gotham-Bold', sans-serif;
$f-medium: 'Gotham-Medium', sans-serif;

// Font size
$fs-32: 32px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;

// Color
$black-light-1: #1A1A1A;
$black-light-2: #1F1F1F;

$white: #FFF;
$gray-1: #BFBFBF;
$gray-2: #969696;

$empty: #00000000;

$purple: #7B61FF;
$purple-2: #593BF3;

$red: #FF5252;
$green: #2ED573;