// Font style
$f-black: 'Gotham-Black', sans-serif;
$f-bold: 'Gotham-Bold', sans-serif;
$f-medium: 'Gotham-Medium', sans-serif;
$f-book: 'Gotham-Book', sans-serif;

// Font size
$fs-36: 36px;
$fs-32: 32px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;

// Color
$black-light-1: #1A1A1A;
$black-light-2: #1F1F1F;
$black-light-3: #282828;
$black-light-4: #404040;

$white: #FFF;
$gray-1: #BFBFBF;
$gray-2: #969696;

$empty: #00000000;

$purple: #7B61FF;
$purple-2: #593BF3;
$purple-2_70: rgba($purple-2, 0.7);

$red: #FF5252;
$red_20: rgba($red, 0.2);

$green: #2ED573;
$green_20: rgba($green, 0.2);

$yellow: #FFC312;
$yellow_20: rgba($yellow, 0.2);

$black: #000;
$black_25: rgba($black, 0.25);
$black_70: rgba($black, 0.7);

$purple-red-gradient: linear-gradient(90deg, $purple 0%, $red 100%);
$blue-pink-gradient: linear-gradient(-135deg, #396FFF 0%, #D45AFF 100%);