@import "../../../../../../../../../../core/scss/vars";


.search {
  max-width: 565px;
  width: 100%;
  border-radius: 50px;
  display: flex;
  background-color: $black-light-3;
  //background-color: $black-light-4;
}

.filter {
  margin: 5px;
}

.input {
  //border-left: 1px solid $black-light-4;
  //border-right: 1px solid $black-light-4;
}

.lineV {
  background-color: $black-light-4;
  height: 41px;
  width: 2px;
  margin: auto 0;
}

.buttonSearch {
  margin: 5px;
}