@import "../../../../../scss/vars";

.course {
  display: flex;
  flex-direction: column;
  background-color: $black-light-3;
  border-radius: 20px;
  //height: 300px;

  .author {
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .mainInfo {
    display: flex;
    justify-content: center;
  }

  .otherInfo {
    display: flex;

    .price {
      text-align: center;
      margin: 15px auto auto;
    }
  }
}