@font-face {
  font-family: "Gotham-Black";
  src: url("./static/font/Gotham/Gotham-Black.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Gotham-Bold";
  src: url("./static/font/Gotham/Gotham-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Gotham-Medium";
  src: url("./static/font/Gotham/Gotham-Medium.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Gotham-Medium", sans-serif !important;
  font-weight: 400;
  color: #969696 !important;
}